{% extends 'base.html'%}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Hey {{name}} - {{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    

    {% if name %}
        <h1>{{ name }} added</h1>
    {% else %}
        <h1>User List</h1> 
        <br/>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form method="POST">
                {{ form.hidden_tag()}}
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                <br/>
                {{ form.submit(class="btn btn-success") }}
            </form> 
        </div>
    {% endif %}
    <table class="table table-hover table-bordered table-secondary">
        <th>User List</th>
    {% for user in our_users %}
        <tr>
            <td>{{ user.id }}-{{ user.name }}-{{ user.email }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}