{% extends 'base.html'%}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Hello {{name}} - {{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="card shadow p-3 mb-5 w100 ">
        {{ form.hidden_tag()}}
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control") }}
        {{ form.author.label(class="form-label") }}
        {{ form.author(class="form-control") }}
        {{ form.slug.label(class="form-label") }}
        {{ form.slug(class="form-control") }}
        {{ form.content.label(class="form-label") }}
        {{ form.content(class="form-control", rows="10") }}
        <br/>
        {{ form.submit(class="btn btn-success") }}
    </div>
    <a href="{{ url_for('posts')}}" class="btn btn-outline-secondary">Back to Blogs</a>
{% endblock %}